.CartCard{
    /* display: flex; */
    height: 380px;
    max-width: 300px;
    margin: 0px 20px 20px 20px;

}
.CartCardGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.thmb{
    grid-area: thmb;
    height: 160px;
    width: 160px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.summary{
    grid-area: summary;
    
}
.deleteBtn{
    margin: 0px 10px;
}
@media (min-width: 400px){
    .CartCard{
        height: 200px;
        max-width: 445px;
        margin: 0px 20px 20px 20px;
        display: flex;
        flex-direction: column;
    
    }
    
    .CartCardGrid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "thmb summary";
    }    
}
@media (min-width: 900px){
    .CartCard{

        max-width: 700px;
    }

}
