.ItemListContainer {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.ItemDiv {
    display: flex;
    justify-content: center;
}

@media (min-width: 526px) {
    .ItemListContainer {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .ItemListContainer {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1050px) {
    .ItemListContainer {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}