#NavBar{
    background-color:gray !important;
}
a {
    color: inherit;
    text-decoration: none;

}
.panel1{
    box-shadow: none !important;
}

@media (min-width: 300px){
#NavBar {
    padding-left: 24px;
    padding-right: 24px;
}}